# Dependencies
node_modules/

# Local storage
localStorage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
*.log
*.cache

# Firebase config
firebase-config.js

# Visual Studio
.vs/

# OS junk
*.swp
*.swo

# Service account (asla git'e ekleme!)
firebase-service-account.json
*.service-account.json

# Env
.env
.env.local
